extends _shared/_main.pug

block centerContent
    .col-sm-8.col-md-8.text-center
        table
            tbody
                tr
                td Разглеждане на профил
                tr
                    td Дата на регистриране
                    td 2007-12-12 21:41:47 (501 седмици)
                tr
                    td Последно посещение
                    td 2017-07-24 16:53:17 (< 1 минута)
                tr
                    td Пол
                    td Мъж
                tr
                    td Години
                    td 25
                tr
                    td Уеб Сайт
                    td
                        a(href='', target='_blank') http://zamunda.net/index.php
                tr
                    td Скин
                    td Класик
                tr
                    td Коефициент
                    td
                        table
                            tbody
                                tr
                                    td 3.67
                                    td
                                        img(src='')
                tr
                    td Аватар
                    td
                        img(src='', style='')
                tr
                    td Ранг
                    td
                        img(src='')
                tr
                    td Коментари под бананите
                    td
                        a(href='') 12
                tr
                    td Коментари във форумите
                    td
                        a(href='') 22
                tr
                    td
                        table
                            tbody
                                tr