h2 Topics
.col-sm-12.col-md-12
    .list-group
        a.list-group-item(href='#') News
        a.list-group-item(href='#') Hardware
        a.list-group-item(href='#') Programs
        a.list-group-item(href='#') Mobile
        a.list-group-item(href='#') Games
        a.list-group-item(href='#') Movies and Series
        a.list-group-item(href='#') Music
        a.list-group-item(href='#') Sports