extends ../_shared/_main.pug

block navTop
  ul.nav.navbar-nav.navbar-right
    if user
        li
            a(href='/users/logout') Logout
    else
        li
            a(href='/users/register') Register
        li
            a(href='/users/login') Login