extends _shared/_main.pug

block centerContent
  h2 Recently added
  .row
    .col-sm-12.col-md-12
      .thumbnail
        .caption
          h3= article[0].title
          p= article[0].body
          p
            a.btn.btn-primary(href='#', role='button') Comment