extends ../_shared/_main.pug

block centerContent
  .alert.alert-warning.alert-dismissible(role='alert')
    button.close(type='button', data-dismiss='alert', aria-label='Close')
      span(aria-hidden='true') ×
    strong Warning!
      |  You need to Login or Register.