extends ../_shared/_main.pug

block centerContent
    h2 Search
    .row
        form(action='/articles/search', method='POST')
            .form-group
                input.form-control(type='text', name='title', aria-describedby='emailHelp', placeholder='Search for...')
            button.btn.btn-default(type='submit', value='submit') Go!