extends ../_shared/_main.pug

block centerContent
    .row
        .col-lg-6
            .input-group
                input.form-control(type='text', placeholder='Search for...')
                span.input-group-btn
                    button.btn.btn-default(type='button') Go!